.authorization-form__login-button {
        display: block;
        box-sizing: border-box;
        width: 358px;
        min-height: 17px;
        margin: 15px 0 0 0;
        padding: 0;
        background-color: #000000;
        border: none;
        border-radius: 2px;
        color: #FFFFFF;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
}

.authorization-form__login-button:hover {
    background-color: #000000;
    opacity: 0.8;
    cursor: pointer;
}