.profile {
    margin: 40px auto 0 auto;
    display: grid;
    grid-template-columns: 120px 1fr 150px;
}

@media screen and (max-width: 1080px) {
    .profile {
        width: calc(100% - 2*19px);
        grid-template-columns: 1fr;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .profile {
        margin-top: 42px;
    }
}

