.footer {
    width: 880px;
    margin: 67px auto 60px auto;
}



@media screen and (max-width: 1080px) {
    .footer {
        width: 581px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        width: 282px;
        margin-top: 48px;
        margin-bottom: 36px;
    }
}