.header {
    width: 880px;
    margin: 45px auto 0 auto;
    padding-bottom: 41px;
    display: flex;
    justify-content: flex-start;
    border-bottom: solid 1px rgb(84, 84, 84, .7);
}

@media screen and (max-width: 1080px) {
    .header {
        width: 581px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        width: 320px;
        margin-top: 28px;
        padding-bottom: 31.6px;
    }
}
